In [55]:
import jieba
import pandas as pd

In [58]:
road = 'D:/奥里/摄图网.csv'

In [59]:
df = pd.read_csv(road)

In [72]:
df.字段.replace(r'[^\w\s]+','',regex=True,inplace=True)

In [73]:
df.字段.replace('|','',regex=True,inplace=True)

In [74]:
df

                           标题  字段
0                      创意空间背景  背景
1                    简约白色线条背景  背景
2                     蓝色科技感背景  背景
3                        光效矢量  元素
4                 中国风烫金简约百搭边框  元素
...                       ...  ..
8242                     夏天背景  插画
8243                      做作业  插画
8244  垃圾分类保护环境人人有责创意字体设计分类垃圾桶  元素
8245                水上乐园戏水的儿童  元素
8246                     秋天出游  插画

[8247 rows x 2 columns]

In [75]:
df2 = df.groupby('字段').count()

In [76]:
df2

       标题
字段
GIF    26
元素   3783
插画   2681
模板    664
背景   1093

In [77]:
from pyecharts.charts import Bar
from pyecharts import options as opts

In [90]:
data = list(df2['标题'])

In [93]:
bar = (
    Bar()
    .add_xaxis(["GIF", "元素", "插画", "模板", "背景"])
    .add_yaxis('张数',data)
    .set_global_opts(title_opts=opts.TitleOpts(title="摄图网"))
    # 或者直接使用字典参数
    # .set_global_opts(title_opts={"text": "主标题", "subtext": "副标题"})
)

In [94]:
bar.render_notebook()

In [96]:
txt = list(df['标题'])

In [109]:
b = ','

In [110]:
c = b.join(txt)

In [112]:
cut = jieba.lcut(c)

In [114]:
dict1 = {}

In [115]:
for i in cut:
    if len(i) == 1:
        continue
    else:
        dict1[i] = dict1.get(i,0) + 1

In [117]:
x = sorted(dict1.items(),key = lambda x:x[1],reverse=True)

In [119]:
x2 = pd.DataFrame(data = x,columns=['关键词','次数'],index = None)

In [121]:
x2.to_csv('D:/奥里/摄图网词频.csv')

In [122]:
df.to_csv('D:/奥里/摄图内容.csv')

In [153]:
road2 = 'D:\奥里\\1.csv'

In [154]:
data = pd.read_csv(road2,encoding='GBK')

In [155]:
data

         uid                注册时间  免费下载次数  邀请新人  充值次数  金额 支付时间
0          3  15/2/2022 16:25:28     NaN    19     0 NaN  NaN
1          1  15/2/2022 14:27:54    15.0    15     0 NaN  NaN
2          2  15/2/2022 14:32:22   264.0    11     0 NaN  NaN
3          4  16/2/2022 14:13:14   238.0    14     0 NaN  NaN
4          7  16/2/2022 14:14:11    65.0     5     0 NaN  NaN
...      ...                 ...     ...   ...   ...  ..  ...
14681  14965   4/7/2022 14:34:43     0.0     0     0 NaN  NaN
14682  14966   4/7/2022 14:38:43     0.0     0     0 NaN  NaN
14683  14967   4/7/2022 14:43:34     0.0     0     0 NaN  NaN
14684  14968   4/7/2022 14:47:28     0.0     0     0 NaN  NaN
14685  14969   4/7/2022 14:50:33     0.0     0     0 NaN  NaN

[14686 rows x 7 columns]

In [156]:
data['支付时间'] = data['支付时间'].fillna('01/1/2022 00:00:00')

In [157]:
data['注册时间'] = pd.to_datetime(data['注册时间'])
data['支付时间'] = pd.to_datetime(data['支付时间'])

In [158]:
data.head()

   uid                注册时间  免费下载次数  邀请新人  充值次数  金额       支付时间
0    3 2022-02-15 16:25:28     NaN    19     0 NaN 2022-01-01
1    1 2022-02-15 14:27:54    15.0    15     0 NaN 2022-01-01
2    2 2022-02-15 14:32:22   264.0    11     0 NaN 2022-01-01
3    4 2022-02-16 14:13:14   238.0    14     0 NaN 2022-01-01
4    7 2022-02-16 14:14:11    65.0     5     0 NaN 2022-01-01

In [159]:
data['时间差'] = data['支付时间'] - data['注册时间']

In [164]:
data = data.fillna('0')

In [165]:
data

,uid,注册时间,免费下载次数,邀请新人,充值次数,金额,支付时间,时间差
0,3,2022-02-15 16:25:28,0,19,0,0,2022-01-01,-46 days +07:34:32
1,1,2022-02-15 14:27:54,15.0,15,0,0,2022-01-01,-46 days +09:32:06
2,2,2022-02-15 14:32:22,264.0,11,0,0,2022-01-01,-46 days +09:27:38
3,4,2022-02-16 14:13:14,238.0,14,0,0,2022-01-01,-47 days +09:46:46
4,7,2022-02-16 14:14:11,65.0,5,0,0,2022-01-01,-47 days +09:45:49
...,...,...,...,...,...,...,...,...
14681,14965,2022-04-07 14:34:43,0.0,0,0,0,2022-01-01,-97 days +09:25:17
14682,14966,2022-04-07 14:38:43,0.0,0,0,0,2022-01-01,-97 days +09:21:17
14683,14967,2022-04-07 14:43:34,0.0,0,0,0,2022-01-01,-97 days +09:16:26
14684,14968,2022-04-07 14:47:28,0.0,0,0,0,2022-01-01,-97 days +09:12:32
14685,14969,2022-04-07 14:50:33,0.0,0,0,0,2022-01-01,-97 days +09:09:27